<ion-header>
  <ion-toolbar class="ion-text-center">
    <img src="./assets/Goodluck.jpg" width=" 300px" style="display:inline-block" height="100px">
    <ion-title></ion-title>

    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card color="pastel">
    <ion-list color="pastel">
      <ion-radio-group [(ngModel)]="soalan1">
        <ion-list-header>
          <ion-label><h2>1.What is 8+5 ?
          </h2></ion-label>
        </ion-list-header>
        <ion-item>
          <ion-radio value="1"></ion-radio>&nbsp;&nbsp;
          <ion-label [hidden]="jawapan2">13
        </ion-label>
            <ion-label color="danger" [hidden]="!jawapan2">13</ion-label>
        </ion-item>
  
        <ion-item>
          <ion-radio value="2"></ion-radio>&nbsp;&nbsp;
          <ion-label>
            14
          </ion-label>
          
        </ion-item>
  
        <ion-item>
          <ion-radio value="3"></ion-radio>&nbsp;&nbsp;
          <ion-label>14
           </ion-label>
          
        </ion-item>
  
        <ion-item>
          <ion-radio value="4"></ion-radio>&nbsp;&nbsp;
          <ion-label>14
           </ion-label>
          
        </ion-item>
      </ion-radio-group>
    </ion-list>
  </ion-card>

<ion-card>
  <ion-list>
    <ion-radio-group [(ngModel)]="soalan2">
      <ion-list-header>
        <ion-label><h2>2.What is 15-8 ?</h2></ion-label>
      </ion-list-header>
      <ion-item>
        <ion-radio value="1"></ion-radio>&nbsp;&nbsp;
        <ion-label>6
           </ion-label>
      </ion-item>

      <ion-item>
        <ion-radio value="2"></ion-radio>&nbsp;&nbsp;
        <ion-label [hidden]="jawapan2">7
      </ion-label>
          <ion-label color="danger" [hidden]="!jawapan2">7</ion-label>
      </ion-item>

      <ion-item>
        <ion-radio value="3"></ion-radio>&nbsp;&nbsp;
        <ion-label>8
         </ion-label>
        
      </ion-item>

      <ion-item>
        <ion-radio value="4"></ion-radio>&nbsp;&nbsp;
        <ion-label>9
         </ion-label>
        
      </ion-item>
    </ion-radio-group>
  </ion-list>
</ion-card>

<ion-card>
  <ion-list>
    <ion-radio-group [(ngModel)]="soalan3">
      <ion-list-header>
        <ion-label><h2>3.What is 1300g in kg ?
        </h2></ion-label>
      </ion-list-header>
      <ion-item>
        <ion-radio value="1"></ion-radio>&nbsp;&nbsp;
        <ion-label>1.1kg
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-radio value="2"></ion-radio>&nbsp;&nbsp;
        <ion-label>1.2kg
        </ion-label>
        
      </ion-item>

      <ion-item>
        <ion-radio value="3"></ion-radio>&nbsp;&nbsp;
        <ion-label [hidden]="jawapan3">1.3kg
         </ion-label>
         <ion-label color="danger" [hidden]="!jawapan3">1.3kg
         </ion-label>
      </ion-item>

      <ion-item>
        <ion-radio value="4"></ion-radio>&nbsp;&nbsp;
        <ion-label>1.4kg
         </ion-label>
      </ion-item>
    </ion-radio-group>
  </ion-list>
</ion-card>

<ion-card>
  <ion-list>
    <ion-radio-group [(ngModel)]="soalan4">
      <ion-list-header>
        <ion-label><h2>4.What is 8kg in g ?</h2></ion-label>
      </ion-list-header>
      <ion-item>
        <ion-radio value="1"></ion-radio>&nbsp;&nbsp;
        <ion-label>4000g
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-radio value="2"></ion-radio>&nbsp;&nbsp;
        <ion-label>5000g
         </ion-label>
        
      </ion-item>

      <ion-item>
        <ion-radio value="3"></ion-radio>&nbsp;&nbsp;
        <ion-label>6000g
         </ion-label>
        
      </ion-item>

      <ion-item>
        <ion-radio value="4"></ion-radio>&nbsp;&nbsp;
        <ion-label [hidden]="jawapan4">8000g
          </ion-label>
          <ion-label color="danger" [hidden]="!jawapan4">8000g</ion-label>
      </ion-item>
    </ion-radio-group>
  </ion-list>
</ion-card>

<ion-card>
  <ion-list>
    <ion-radio-group [(ngModel)]="soalan5">
      <ion-list-header>
        <ion-label><h2>5.What is 2kg minus 500g ?
        </h2></ion-label>
      </ion-list-header>
      <ion-item>
        <ion-radio value="1"></ion-radio>&nbsp;&nbsp;
        <ion-label>1.3kg
         </ion-label>
      </ion-item>

      <ion-item>
        <ion-radio value="2"></ion-radio>&nbsp;&nbsp;
        <ion-label>1.4kg
         </ion-label>
        
      </ion-item>

      <ion-item>
        <ion-radio value="3"></ion-radio>&nbsp;&nbsp;
        <ion-label [hidden]="jawapan5">1.5kg
         </ion-label>
         <ion-label color="danger" [hidden]="!jawapan5">1.5kg</ion-label>
      </ion-item>

      <ion-item>
        <ion-radio value="4"></ion-radio>&nbsp;&nbsp;
        <ion-label>1.6kg
          </ion-label>
      </ion-item>
    </ion-radio-group>
  </ion-list>
</ion-card>

<ion-card>
  <ion-list>
    <ion-radio-group [(ngModel)]="soalan6">
      <ion-list-header>
        <ion-label><h2>6.What is 19-6 ?
        </h2></ion-label>
      </ion-list-header>
      <ion-item>
        <ion-radio value="1"></ion-radio>&nbsp;&nbsp;
        <ion-label>12
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-radio value="2"></ion-radio>&nbsp;&nbsp;
        <ion-label [hidden]="jawapan6">13
         </ion-label>
         <ion-label color="danger" [hidden]="!jawapan6">13</ion-label>
      </ion-item>

      <ion-item>
        <ion-radio value="3"></ion-radio>&nbsp;&nbsp;
        <ion-label>14
         </ion-label>
        
      </ion-item>

      <ion-item>
        <ion-radio value="4"></ion-radio>&nbsp;&nbsp;
        <ion-label>15
          </ion-label>
      </ion-item>
    </ion-radio-group>
  </ion-list>
</ion-card>

<ion-card>
  <ion-list>
    <ion-radio-group [(ngModel)]="soalan7">
      <ion-list-header>
        <ion-label><h2>7.What is 15+7 ?
        </h2></ion-label>
      </ion-list-header>
      <ion-item>
        <ion-radio value="1"></ion-radio>&nbsp;&nbsp;
        <ion-label>20
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-radio value="2"></ion-radio>&nbsp;&nbsp;
        <ion-label>21
         </ion-label>
        
      </ion-item>

      <ion-item>
        <ion-radio value="3"></ion-radio>&nbsp;&nbsp;
        <ion-label [hidden]="jawapan7">22
         </ion-label>
         <ion-label color="danger" [hidden]="!jawapan7">22</ion-label>
      </ion-item>

      <ion-item>
        <ion-radio value="4"></ion-radio>&nbsp;&nbsp;
        <ion-label>23
          </ion-label>
      </ion-item>
    </ion-radio-group>
  </ion-list>
</ion-card>

<ion-card>
  <ion-list>
    <ion-radio-group [(ngModel)]="soalan8">
      <ion-list-header>
        <ion-label><h2>8.What is 23-8 ?
        </h2></ion-label>
      </ion-list-header>
      <ion-item>
        <ion-radio value="1"></ion-radio>&nbsp;&nbsp;
        <ion-label>13
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-radio value="2"></ion-radio>&nbsp;&nbsp;
        <ion-label>14
         </ion-label>
        
      </ion-item>

      <ion-item>
        <ion-radio value="3"></ion-radio>&nbsp;&nbsp;
        <ion-label [hidden]="jawapan8">15
         </ion-label>
         <ion-label color="danger" [hidden]="!jawapan8">15</ion-label>
      </ion-item>

      <ion-item>
        <ion-radio value="4"></ion-radio>&nbsp;&nbsp;
        <ion-label>16
        </ion-label>
      </ion-item>
    </ion-radio-group>
  </ion-list>
</ion-card>

<ion-card>
  <ion-list>
    <ion-radio-group [(ngModel)]="soalan9">
      <ion-list-header>
        <ion-label><h2>9.What is 1.8kg + 500g ?
        </h2></ion-label>
      </ion-list-header>
      <ion-item>
        <ion-radio value="1"></ion-radio>&nbsp;&nbsp;
        <ion-label>2.1kg
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-radio value="2"></ion-radio>&nbsp;&nbsp;
        <ion-label>2.2kg
         </ion-label>
        
      </ion-item>

      <ion-item>
        <ion-radio value="3"></ion-radio>&nbsp;&nbsp;
        <ion-label [hidden]="jawapan9">2.3kg
         </ion-label>
         <ion-label color="danger" [hidden]="!jawapan9">2.3kg</ion-label>
      </ion-item>

      <ion-item>
        <ion-radio value="4"></ion-radio>&nbsp;&nbsp;
        <ion-label>2.4kg
        </ion-label>
      </ion-item>
    </ion-radio-group>
  </ion-list>
</ion-card>

<ion-card>
  <ion-list>
    <ion-radio-group [(ngModel)]="soalan10">
      <ion-list-header>
        <ion-label><h2>10.What is 5kg - 1.5kg?
        </h2></ion-label>
      </ion-list-header>
      <ion-item>
        <ion-radio value="1"></ion-radio>&nbsp;&nbsp;
        <ion-label [hidden]="jawapan10">3.5kg
        </ion-label>
        <ion-label color="danger" [hidden]="!jawapan10">3.5kg</ion-label>
      </ion-item>

      <ion-item>
        <ion-radio value="2"></ion-radio>&nbsp;&nbsp;
        <ion-label>3.6kg
         </ion-label>
        
      </ion-item>

      <ion-item>
        <ion-radio value="3"></ion-radio>&nbsp;&nbsp;
        <ion-label>3.7kg
         </ion-label>
        
      </ion-item>

      <ion-item>
        <ion-radio value="4"></ion-radio>&nbsp;&nbsp;
        <ion-label>3.8kg
        </ion-label>
      </ion-item>
    </ion-radio-group>
  </ion-list>
</ion-card>
<ion-button (click)="check(soalan1,soalan2,soalan3,soalan4,soalan5,soalan6,soalan7,soalan8,soalan9,soalan10)" expand="block" fill="clear" shape="round">
  Semakan
</ion-button>
<ion-card>
  <ion-label>
    <h2>Keputusan:{{total}} /10</h2>
    </ion-label>
</ion-card>
</ion-content>