<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start"> 
      <ion-back-button></ion-back-button>
    </ion-buttons>
      <ion-title>FAQ</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card>
    <ion-card-title>1.What is the topics that is shown in this app ?</ion-card-title>
        <ion-card-content>
         Addition, Subtraction, Bridge 10, Mass, Multiplication, Division,
         Fraction, Shapes, Capacity, Length, Time, Money
        </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>2.How to answer the question the right way and check your answers ?</ion-card-title>
        <ion-card-content>
         1.Go to the question for the standard you are in.
         <br>2.Choose the answer you think is correct.
         <br>3.Click the button "semakan" to check your answers
        </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>3.Will the user information be stored when they register ?</ion-card-title>
        <ion-card-content>
         Yes. The information will be stored in a database that the admin has control of.
        </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>4.What do you plan to add in future ?</ion-card-title>
        <ion-card-content>
         I plan to add more topics such as advanced fraction, advanced division and many more topics in the near future.
        </ion-card-content>
  </ion-card>

</ion-content>