<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start"> 
      <ion-back-button></ion-back-button>
    </ion-buttons>
      <ion-title>Standard 5</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card>
    <ion-card-title>CAPACITY</ion-card-title>
        <img src="assets/capacity.png"/>
        <ion-card-content>
          Capacity is how much of something can hold. For example, the capacity of a bottle is how many litre of liquid it can hold.
          Here is a video explaining more about capacity.
        </ion-card-content>
        <ion-card>
          <video
          width="100%"
          height="200px"
          controls="controls"
          preload="metadata"
          autoreply="autoreply"
          webkit-playsinline="webkit-playsinline"
          class="videoplayer">
          <source src="assets/Capacity.mp4" type="video/mp4">
        </video>
        </ion-card>

        <ion-card>
          <ion-card-title>LENGTH</ion-card-title>
              <img src="assets/length.png"/>
              <ion-card-content>
                Length is a way to calculate a distance. For example centimetre,metre and kilometre.
                Here is a video explaining more about kilometre.
              </ion-card-content>
              <ion-card>
                <video
                width="100%"
                height="200px"
                controls="controls"
                preload="metadata"
                autoreply="autoreply"
                webkit-playsinline="webkit-playsinline"
                class="videoplayer">
                <source src="assets/length.mp4" type="video/mp4">
              </video>
              </ion-card>
        </ion-card>
      
