<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start"> 
      <ion-back-button></ion-back-button>
    </ion-buttons>
      <ion-title>Standard 3</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card>
    <ion-card-title>MULTIPLICATION</ion-card-title>
        <img src="assets/multiplication.jpg"/>
        <ion-card-content>
          Multiplication is a advanced version of addition. Multiplication can be seen as hard to some but when you memorize the tables, its actually pretty easy.
          Here is a video to explain multiplication clearly.
        </ion-card-content>
        <ion-card>
          <video
          width="100%"
          height="200px"
          controls="controls"
          preload="metadata"
          autoreply="autoreply"
          webkit-playsinline="webkit-playsinline"
          class="videoplayer">
          <source src="assets/multiplication.mp4" type="video/mp4">
        </video>
        </ion-card>

        <ion-card>
          <ion-card-title>DIVISION</ion-card-title>
              <img src="assets/divide.jpg"/>
              <ion-card-content>
                Division is an advance way of subtraction. Division is just subtraction repeated by a same number.
                Here is a video explaining about division.
              </ion-card-content>
              <ion-card>
                <video
                width="100%"
                height="200px"
                controls="controls"
                preload="metadata"
                autoreply="autoreply"
                webkit-playsinline="webkit-playsinline"
                class="videoplayer">
                <source src="assets/divide.mp4" type="video/mp4">
              </video>
              </ion-card>
        </ion-card>
   