<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start"> 
      <ion-back-button></ion-back-button>
    </ion-buttons>
      <ion-title>Chapters</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>

<ion-card>
  <ion-button expand="block" color="purple" [routerLink]="['/standard']">Standard 1</ion-button>
  <ion-button expand="block" color="purple" [routerLink]="['/standard2']">Standard 2</ion-button>
  <ion-button expand="block" color="purple" [routerLink]="['/standard3']">Standard 3</ion-button>
  <ion-button expand="block" color="purple" [routerLink]="['/standard4']">Standard 4</ion-button>
  <ion-button expand="block" color="purple" [routerLink]="['/standard5']">Standard 5</ion-button>
  <ion-button expand="block" color="purple" [routerLink]="['/standard6']">Standard 6</ion-button>

</ion-card>

</ion-content>
