<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start"> 
    <ion-back-button></ion-back-button>
  </ion-buttons>
    <ion-title>Quizz</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-button expand="block" color="pink" [routerLink]="['/qstandard1']">Standard 1</ion-button>
    <ion-button expand="block" color="pink" [routerLink]="['/qstandard2']">Standard 2</ion-button>
    <ion-button expand="block" color="pink" [routerLink]="['/qstandard3']">Standard 3</ion-button>
    <ion-button expand="block" color="pink" [routerLink]="['/qstandard4']">Standard 4</ion-button>
    <ion-button expand="block" color="pink" [routerLink]="['/qstandard5']">Standard 5</ion-button>
    <ion-button expand="block" color="pink" [routerLink]="['/qstandard6']">Standard 6</ion-button>
  
  </ion-card>

</ion-content>
