<ion-header>
  <ion-toolbar class="ion-text-center">
    <img src="./assets/Goodluck.jpg" width=" 300px" style="display:inline-block" height="100px">
    <ion-title></ion-title>

    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-card color="pastel">
  <ion-list color="pastel">
    <ion-radio-group [(ngModel)]="soalan1">
      <ion-list-header>
        <ion-label><h2>1.What is 2+3 ?
        </h2></ion-label>
      </ion-list-header>
      <ion-item>
        <ion-radio value="1"></ion-radio>&nbsp;&nbsp;
        <ion-label [hidden]="jawapan2">5
      </ion-label>
          <ion-label color="danger" [hidden]="!jawapan2">5</ion-label>
      </ion-item>

      <ion-item>
        <ion-radio value="2"></ion-radio>&nbsp;&nbsp;
        <ion-label>
          6
        </ion-label>
        
      </ion-item>

      <ion-item>
        <ion-radio value="3"></ion-radio>&nbsp;&nbsp;
        <ion-label>7
         </ion-label>
        
      </ion-item>

      <ion-item>
        <ion-radio value="4"></ion-radio>&nbsp;&nbsp;
        <ion-label>8
         </ion-label>
        
      </ion-item>
    </ion-radio-group>
  </ion-list>
</ion-card>

<ion-card>
  <ion-list>
    <ion-radio-group [(ngModel)]="soalan2">
      <ion-list-header>
        <ion-label><h2>2.What is 8-2 ?</h2></ion-label>
      </ion-list-header>
      <ion-item>
        <ion-radio value="1"></ion-radio>&nbsp;&nbsp;
        <ion-label>5
           </ion-label>
      </ion-item>

      <ion-item>
        <ion-radio value="2"></ion-radio>&nbsp;&nbsp;
        <ion-label [hidden]="jawapan2">6
      </ion-label>
          <ion-label color="danger" [hidden]="!jawapan2">6</ion-label>
      </ion-item>

      <ion-item>
        <ion-radio value="3"></ion-radio>&nbsp;&nbsp;
        <ion-label>7
         </ion-label>
        
      </ion-item>

      <ion-item>
        <ion-radio value="4"></ion-radio>&nbsp;&nbsp;
        <ion-label>8
         </ion-label>
        
      </ion-item>
    </ion-radio-group>
  </ion-list>
</ion-card>

<ion-card>
  <ion-list>
    <ion-radio-group [(ngModel)]="soalan3">
      <ion-list-header>
        <ion-label><h2>3.What is 6+3 ?
        </h2></ion-label>
      </ion-list-header>
      <ion-item>
        <ion-radio value="1"></ion-radio>&nbsp;&nbsp;
        <ion-label>7
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-radio value="2"></ion-radio>&nbsp;&nbsp;
        <ion-label>8
        </ion-label>
        
      </ion-item>

      <ion-item>
        <ion-radio value="3"></ion-radio>&nbsp;&nbsp;
        <ion-label [hidden]="jawapan3">9
         </ion-label>
         <ion-label color="danger" [hidden]="!jawapan3">9
         </ion-label>
      </ion-item>

      <ion-item>
        <ion-radio value="4"></ion-radio>&nbsp;&nbsp;
        <ion-label>10
         </ion-label>
      </ion-item>
    </ion-radio-group>
  </ion-list>
</ion-card>

<ion-card>
  <ion-list>
    <ion-radio-group [(ngModel)]="soalan4">
      <ion-list-header>
        <ion-label><h2>4.What is 8-4 ?</h2></ion-label>
      </ion-list-header>
      <ion-item>
        <ion-radio value="1"></ion-radio>&nbsp;&nbsp;
        <ion-label>1
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-radio value="2"></ion-radio>&nbsp;&nbsp;
        <ion-label>2
         </ion-label>
        
      </ion-item>

      <ion-item>
        <ion-radio value="3"></ion-radio>&nbsp;&nbsp;
        <ion-label>3
         </ion-label>
        
      </ion-item>

      <ion-item>
        <ion-radio value="4"></ion-radio>&nbsp;&nbsp;
        <ion-label [hidden]="jawapan4">4
          </ion-label>
          <ion-label color="danger" [hidden]="!jawapan4">4</ion-label>
      </ion-item>
    </ion-radio-group>
  </ion-list>
</ion-card>

<ion-card>
  <ion-list>
    <ion-radio-group [(ngModel)]="soalan5">
      <ion-list-header>
        <ion-label><h2>5.What is 5+3 ?
        </h2></ion-label>
      </ion-list-header>
      <ion-item>
        <ion-radio value="1"></ion-radio>&nbsp;&nbsp;
        <ion-label>6
         </ion-label>
      </ion-item>

      <ion-item>
        <ion-radio value="2"></ion-radio>&nbsp;&nbsp;
        <ion-label>7
         </ion-label>
        
      </ion-item>

      <ion-item>
        <ion-radio value="3"></ion-radio>&nbsp;&nbsp;
        <ion-label [hidden]="jawapan5">8
         </ion-label>
         <ion-label color="danger" [hidden]="!jawapan5">8</ion-label>
      </ion-item>

      <ion-item>
        <ion-radio value="4"></ion-radio>&nbsp;&nbsp;
        <ion-label>9
          </ion-label>
      </ion-item>
    </ion-radio-group>
  </ion-list>
</ion-card>

<ion-card>
  <ion-list>
    <ion-radio-group [(ngModel)]="soalan6">
      <ion-list-header>
        <ion-label><h2>6.What is 9-3 ?
        </h2></ion-label>
      </ion-list-header>
      <ion-item>
        <ion-radio value="1"></ion-radio>&nbsp;&nbsp;
        <ion-label>5
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-radio value="2"></ion-radio>&nbsp;&nbsp;
        <ion-label [hidden]="jawapan6">6
         </ion-label>
         <ion-label color="danger" [hidden]="!jawapan6">6</ion-label>
      </ion-item>

      <ion-item>
        <ion-radio value="3"></ion-radio>&nbsp;&nbsp;
        <ion-label>7
         </ion-label>
        
      </ion-item>

      <ion-item>
        <ion-radio value="4"></ion-radio>&nbsp;&nbsp;
        <ion-label>8
          </ion-label>
      </ion-item>
    </ion-radio-group>
  </ion-list>
</ion-card>

<ion-card>
  <ion-list>
    <ion-radio-group [(ngModel)]="soalan7">
      <ion-list-header>
        <ion-label><h2>7.What is 3+7 ?
        </h2></ion-label>
      </ion-list-header>
      <ion-item>
        <ion-radio value="1"></ion-radio>&nbsp;&nbsp;
        <ion-label>8
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-radio value="2"></ion-radio>&nbsp;&nbsp;
        <ion-label>9
         </ion-label>
        
      </ion-item>

      <ion-item>
        <ion-radio value="3"></ion-radio>&nbsp;&nbsp;
        <ion-label [hidden]="jawapan7">10
         </ion-label>
         <ion-label color="danger" [hidden]="!jawapan7">10</ion-label>
      </ion-item>

      <ion-item>
        <ion-radio value="4"></ion-radio>&nbsp;&nbsp;
        <ion-label>11
          </ion-label>
      </ion-item>
    </ion-radio-group>
  </ion-list>
</ion-card>

<ion-card>
  <ion-list>
    <ion-radio-group [(ngModel)]="soalan8">
      <ion-list-header>
        <ion-label><h2>8.What is 8-3 ?
        </h2></ion-label>
      </ion-list-header>
      <ion-item>
        <ion-radio value="1"></ion-radio>&nbsp;&nbsp;
        <ion-label>3
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-radio value="2"></ion-radio>&nbsp;&nbsp;
        <ion-label>4
         </ion-label>
        
      </ion-item>

      <ion-item>
        <ion-radio value="3"></ion-radio>&nbsp;&nbsp;
        <ion-label [hidden]="jawapan8">5
         </ion-label>
         <ion-label color="danger" [hidden]="!jawapan8">5</ion-label>
      </ion-item>

      <ion-item>
        <ion-radio value="4"></ion-radio>&nbsp;&nbsp;
        <ion-label>6
        </ion-label>
      </ion-item>
    </ion-radio-group>
  </ion-list>
</ion-card>

<ion-card>
  <ion-list>
    <ion-radio-group [(ngModel)]="soalan9">
      <ion-list-header>
        <ion-label><h2>9.What is 3+2 ?
        </h2></ion-label>
      </ion-list-header>
      <ion-item>
        <ion-radio value="1"></ion-radio>&nbsp;&nbsp;
        <ion-label>3
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-radio value="2"></ion-radio>&nbsp;&nbsp;
        <ion-label>4
         </ion-label>
        
      </ion-item>

      <ion-item>
        <ion-radio value="3"></ion-radio>&nbsp;&nbsp;
        <ion-label [hidden]="jawapan9">5
         </ion-label>
         <ion-label color="danger" [hidden]="!jawapan9">5</ion-label>
      </ion-item>

      <ion-item>
        <ion-radio value="4"></ion-radio>&nbsp;&nbsp;
        <ion-label>6
        </ion-label>
      </ion-item>
    </ion-radio-group>
  </ion-list>
</ion-card>

<ion-card>
  <ion-list>
    <ion-radio-group [(ngModel)]="soalan10">
      <ion-list-header>
        <ion-label><h2>10.What is 9-6 ?
        </h2></ion-label>
      </ion-list-header>
      <ion-item>
        <ion-radio value="1"></ion-radio>&nbsp;&nbsp;
        <ion-label [hidden]="jawapan10">3
        </ion-label>
        <ion-label color="danger" [hidden]="!jawapan10">3</ion-label>
      </ion-item>

      <ion-item>
        <ion-radio value="2"></ion-radio>&nbsp;&nbsp;
        <ion-label>4
         </ion-label>
        
      </ion-item>

      <ion-item>
        <ion-radio value="3"></ion-radio>&nbsp;&nbsp;
        <ion-label>5
         </ion-label>
        
      </ion-item>

      <ion-item>
        <ion-radio value="4"></ion-radio>&nbsp;&nbsp;
        <ion-label>6
        </ion-label>
      </ion-item>
    </ion-radio-group>
  </ion-list>
</ion-card>
<ion-button (click)="check(soalan1,soalan2,soalan3,soalan4,soalan5,soalan6,soalan7,soalan8,soalan9,soalan10)" expand="block" fill="clear" shape="round">
  Semakan
</ion-button>
<ion-card>
  <ion-label>
    <h2>Keputusan:{{total}} /10</h2>
    </ion-label>
</ion-card>
</ion-content>
