  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start"> 
        <ion-back-button></ion-back-button>
      </ion-buttons>
        <ion-title>Standard 1</ion-title>
    </ion-toolbar>
  </ion-header>
<ion-content>

  <ion-card>
  <ion-card-header>
    <ion-card-content>
      <img src="assets/icon-13.png"/>
    </ion-card-content>
    <ion-card-title>ADDITION</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    Addition is when you add a number to another number to calculate something such as object.For example one apple pluss one apple equals to two apples.
    Here is an video of addition to help you learn efficiently.
  </ion-card-content>
  <ion-card>
    <video
    width="100%"
    height="200px"
    controls="controls"
    preload="metadata"
    autoreply="autoreply"
    webkit-playsinline="webkit-playsinline"
    class="videoplayer">
    <source src="assets/additionvideo.mp4" type="video/mp4">
  </video>
  </ion-card>

<ion-card>
<ion-card-title>SUBTRACTION</ion-card-title>
    <img src="assets/subtraction.jpg"/>
    <ion-card-content>
      Subtraction is when you want to minus a number from a number. For example is if two orange minus one orange equals to one orange.
      Here is a video to help you understand easier.
    </ion-card-content>
    <ion-card>
      <video
      width="100%"
      height="200px"
      controls="controls"
      preload="metadata"
      autoreply="autoreply"
      webkit-playsinline="webkit-playsinline"
      class="videoplayer">
      <source src="assets/subtractionvideo.mp4" type="video/mp4">
    </video>
    </ion-card>

  </ion-card>
  