<ion-content>
<ion-header>
<ion-toolbar color="primary">
  
<ion-title>Mathematics</ion-title>
</ion-toolbar>
</ion-header>
<ion-card>
  <ion-card-header>
    <ion-card-content>
      <img src="assets/Branches-of-Mathematics.png"/>
    </ion-card-content>
    <ion-card-title>Mathematics is ez</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    "The best teacher is not the one who knows most but the one who is most capable of reducing knowledge to that simple compound of the obvious and wonderful."
    -H.L.MENCKEN
  </ion-card-content>
</ion-card>
<ion-card>
  <ion-button expand="block" color="secondary" [routerLink]="['/chapters']">Chapters</ion-button>
  <ion-button expand="block" color="secondary" [routerLink]="['/quizz']">Quizz</ion-button>
</ion-card>

</ion-content>